.add-button,
.confirm-button {
    background-color: #39A935;
}

.edit-button {
    background-color: #EEA509;
}

.delete-button {
    background-color: darkred;
}

.cancel-button,
.reset-button {
    background-color: grey;
}

