.node {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.node .current-node {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.node .node-content {
    max-width: 20rem;
    border-radius: 8px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
}

.node .actions {
    display: flex;
    align-self: center;
    gap: 1rem;
}

.node .add-node,
.node ul {
    padding-left: 2rem;
}